:root {
  --font-family: "Sofia Pro Regular";
  --heading-large: "32px";
  --heading-medium:"20px";
  --heading-small: "16px";

  --line-height-large: "32px";
  --line-height-small: "24px;"

  --font-weight-heavy: "300"

  --text-large: "12px";
  --text-medium: "10,5px";
  --text-small: "10px";
  --black: "#04242D";
  --cloudberry: "#FF6A4C";

  --padding-inline: 16px;
  --padding-block: 24px;

  --margin-inline: 16px;
  --margin-block: 24px;

}


body {
  background: #f8f8f8;
  font-family: "Sofia Pro Regular";
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
}

h2 {
  font-weight: 300;
  font-size: 32px;
  font-family: "Sofia Pro ExtraLight";
}


.app{
  background: #f8f8f8;
  max-width: 100vw;
  margin: auto;
  max-height: 100vh;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container {
  border: 1px solid red;
  height: 104px;
}

.header {
display: flex;
 flex-direction: row;
 align-items: center;
padding-inline: var(--padding-inline);
margin-block: var(--margin-block);
 justify-content: space-between;
 backdrop-filter: blur(10px);

}
.header-logo {
    align-content: baseline;
}


.flow-container {
    border: 1px solid red;
    padding-inline: var(--padding-inline);
margin-block: var(--margin-block);

}

.chat {
    border: 1px solid red;
}

.footer {
    border: 1px solid green;
    background-color: #F3F3F3;
  }

